h1 {
  color: rgb(255, 38, 0);
}
h2 {
  color: red;
}
h3 {
  color: green;
}
body {
  background-color: #801414;
  font-family: "Anton", sans-serif;
}
#header {
  background-color: rgb(11, 214, 38);
}
#content {
  background-color: #e4ab1c;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
